* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.button {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;

}

a {

  width: 100px;
  height: 40px;
  line-height: 40px;
  align-items: center;
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  transform: rotateX(0deg) translateY(0);
  -webkit-transform: rotateX(0deg) translateY(0);
  -moz-transform: rotateX(0deg) translateY(0);
  -ms-transform: rotateX(0deg) translateY(0);
  -o-transform: rotateX(0deg) translateY(0);
  transition: 300ms all;
  -webkit-transition: 300ms all;
  -moz-transition: 300ms all;
  -ms-transition: 300ms all;
  -o-transition: 300ms all;
  position: relative;

  &::before {

    content: attr(data-text);
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: crimson;
    text-align: center;
    justify-content: center;
    position: absolute;
    line-height: 60px;
    align-items: center;
    left: 0;
    top: 0;
    transform: rotateX(90deg) translateY(20px);
    -webkit-transform: rotateX(90deg) translateY(20px);
    -moz-transform: rotateX(90deg) translateY(20px);
    -ms-transform: rotateX(90deg) translateY(20px);
    -o-transform: rotateX(90deg) translateY(20px);
    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
    transform-origin: bottom;
  }

  &:hover::before {
    transform: rotateX(0deg) translateY(0);
    -webkit-transform: rotateX(0deg) translateY(0);
    -moz-transform: rotateX(0deg) translateY(0);
    -ms-transform: rotateX(0deg) translateY(0);
    -o-transform: rotateX(0deg) translateY(0);
  }

  &::after {

    content: attr(data-text);
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgb(0, 0, 0);
    text-align: center;
    justify-content: center;
    position: absolute;
    line-height: 60px;
    align-items: center;
    left: 0;
    top: 0;

    transition: 300ms all;
    -webkit-transition: 300ms all;
    -moz-transition: 300ms all;
    -ms-transition: 300ms all;
    -o-transition: 300ms all;
    transform-origin: top;
  }

  &:hover::after {
    transform: rotateX(-90deg) translateY(-20px);
    -webkit-transform: rotateX(-90deg) translateY(-20px);
    -moz-transform: rotateX(-90deg) translateY(-20px);
    -ms-transform: rotateX(-90deg) translateY(-20px);
    -o-transform: rotateX(-90deg) translateY(-20px);
  }
}